<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>   
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="LocalSource" value="\\nas.hem.abolint.se\Dev\nuget" />    
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <config>
     <add key="globalPackagesFolder" value="\\nas.hem.abolint.se\Dev\deps" />    
  </config>
</configuration>